# Project Files 1/1

## Meets Expectations
- [x] The submitted files contain the three pet shelter CSVs and a jupyter Notebook file

In [3]:
import pandas as pd

intakes = pd.read_csv('aac_intakes.csv')
outcomes = pd.read_csv('aac_outcomes.csv') 
intakes_outcomes = pd.read_csv('aac_intakes_outcomes.csv')

In [4]:
intakes.head(1)

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female

In [59]:
outcomes.head(1)

,age_upon_outcome,animal_id,animal_type,breed,color,date_of_birth,datetime,monthyear,name,outcome_subtype,outcome_type,sex_upon_outcome
0,2 weeks,A684346,Cat,Domestic Shorthair Mix,Orange Tabby,2014-07-07T00:00:00,2014-07-22T16:04:00,2014-07-22T16:04:00,NaN,Partner,Transfer,Intact Male

In [91]:
intakes_outcomes.head(100)

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,15 years,A317783,2002-02-10 00:00:00,NaN,Return to Owner,Spayed Female,5475,15.0,"(12.5, 15.0]",2017-02-25 16:35:00,...,"(12.5, 15.0]",2017-02-25 14:02:00,2,2017,2017-02,Saturday,14,1.0,0 days 02:33:00.000000000,0.106250
96,13 years,A318500,2001-08-18 00:00:00,NaN,Return to Owner,Neutered Male,4745,13.0,"(12.5, 15.0]",2014-10-08 16:13:00,...,"(12.5, 15.0]",2014-10-01 15:41:00,10,2014,2014-10,Wednesday,15,1.0,7 days 00:32:00.000000000,7.022222
97,13 years,A318574,2003-04-19 00:00:00,Suffering,Euthanasia,Neutered Male,4745,13.0,"(12.5, 15.0]",2016-05-23 12:54:00,...,"(12.5, 15.0]",2016-04-27 18:17:00,4,2016,2016-04,Wednesday,18,1.0,25 days 18:37:00.000000000,25.775694
98,12 years,A318574,2003-04-19 00:00:00,NaN,Adoption,Neutered Male,4380,12.0,"(10.0, 12.5]",2015-07-31 17:02:00,...,"(10.0, 12.5]",2015-06-13 14:41:00,6,2015,2015-06,Saturday,14,2.0,48 days 02:21:00.000000000,48.097917
99,14 years,A318615,2001-02-24 00:00:00,Suffering,Euthanasia,Neutered Male,5110,14.0,"(12.5, 15.0]",2015-03-30 15:33:00,...,"(12.5, 15.0]",2015-03-30 15:06:00,3,2015,2015-03,Monday,15,1.0,0 days 00:27:00.000000000,0.018750

# Found Pets 6/6

## Meets Expectations
- The following question:
    - [x] "is there an area where more pets are found?" is answered
    - [x] The answer includes the top 5 places where animals are found
- [x] There is an explanation of how the answer was calculated

### Explanation

Question 1: First I gathered the value that has the most unique occurance by using the `mode()` method on the dataFrame. 

Question 2: Then I would use the `value_counts()` method on the dataFrame to then count each occurance of the values in the column found_location. This was then trimmed down to the top 5 results with the `head()` method

In [10]:
# Question 1

intakes['found_location'].mode()

0    Austin (TX)
Name: found_location, dtype: object

In [11]:
# Question 2

intakes['found_location'].value_counts().head(5)

found_location
Austin (TX)                          14443
Outside Jurisdiction                   948
Travis (TX)                            921
7201 Levander Loop in Austin (TX)      517
Del Valle (TX)                         411
Name: count, dtype: int64

## Exceeds Expectations
- The questions:
    - [x] How many animals in the shelter are repeats?
    - [x] Which animal was returned to the shelter the most?
- [x] There is an explanation of how the answer was calculated for both questions

### Explanation

Question 1: First thing I did was to calculate the occurances of each animal_id with `value_counts()` method. This initially returns a `Series`, so I then use the `reset_index()` method to coerce the results into a dataframe. Then I added column names with the `columns` method. 

Question 2: Next I took the returned_pets df results and `merge`d them with the intakes.csv. After I did this, I just used the `head()` method to pull the top result.

In [14]:
# Question 1

returned_pets = intakes['animal_id'].value_counts().reset_index()
returned_pets.columns = ['animal_id', 'count']
returned_pets.shape[0]

72365

In [15]:
# Question 2

returned_pets.merge(intakes[['animal_id', 'name']], on='animal_id', how='left').head(1)

  animal_id  count     name
0   A721033     13  Lil Bit

# Average Found Pets 3/3

## Meets Expectations
- The question:
    - [x] "What is the average number of pets found in a month in the year 2015?
    - [x] Are there months where there is a higher number of animals found?
- [x] There is an explanation of how the answer was calculated for both questions

### Explanation

Question 1: Initially, I need to filter the intakes_outcomes df down to 2015 in the `intake_year` column and store that into a variable `filter_by_year`. I utilized a simple comparison with `==` to accomplish this task. Next I utilized the `groupby` method on the `filter_by_year` variable, to group/sort the `intake_month`'s together and stored that in the variable `group_by_month`. Then I wanted to specifically get the number of index entries in the group (which is grouped per month), and since `size()` doesn't look at values in columns which aren't related to what I'm grouping by, this was my preferred choice over `count()`. Finally, I would take the `group_by_month` results and grab the `mean()`, which returns an average of 1558 pets found in a month during the year 2015. I would then store these results in a variable `average_count`.

Question 2: Next, in order to find the months that are above average intake rates, I had to calculate a few different things:
1) I had to take the average monthly intake numbers and compare to the actual monthly intake counts
2) Next i had to then compare the counts to the average. I also added a boolean column to the result dataframe that'll show `true`/`false` if the monthly count is higher than the average count.

In [19]:
# Question 1

# i need to reduce to the year 2015
filter_by_year = intakes_outcomes[intakes_outcomes['intake_year'] == 2015]
# order by month and count for each month and average the results
print('The average monthly number of pets found in 2015 is: ',filter_by_year.groupby('intake_month').size().mean())

The average monthly number of pets found in 2015 is:  1558.25

In [20]:
# Question 2

# Get the average for results_by_month
monthly_counts = filter_by_year.groupby('intake_month').size().reset_index(name='count')
monthly_average = monthly_counts['count'].mean()
# compare the monthly counts to the monthly average
monthly_counts['above_average'] = monthly_counts['count'] > monthly_average
# create a dataframe with a specific boolean column for 'above_average' counts
months_above_average = monthly_counts[monthly_counts['above_average']]
print('Months with above average numbers of animals found: ')
print(months_above_average)

Months with above average numbers of animals found:
   intake_month  count  above_average
4             5   2092           True
5             6   2188           True
6             7   1634           True
7             8   1717           True
8             9   1590           True
9            10   1738           True

# Ratio of Incoming vs Outgoing 2/2

## Meets Expectations
- The question:
    - [x] What is the ratio of incoming pets vs adopted pets?
- [x] There is an explanation of how the answer was calculated

### Explanation

Question 1: First I filtered the intake dataframe's column of `intake_type` to exclude the word `euthanasia`. This is because those aren't going to be an available for adoption. Next I filtered the `intakes_outcomes` column `outcome_type` to only keep the rows with the value of `adoption`. I've used the method `df.str.contains` on both of these filters due to the ease of filtering based off of a value, whether its case specific or not, and if I wanted to keep rows with any na values. 

Once I got those results, in order to find the ratio of incoming pets vs adopted pets, I just used basic arithmatic to divide the `intakes_filtered.shape[0]` against the `adopted_pets_count`. 

This gives the ratio of: 2.379.....

In [24]:
# Question 1

# Filter the intakes DataFrame to exclude "euthanasia"
intakes_filtered = intakes[~intakes['intake_type'].str.contains('euthanasia', case=False, na=False)]
# Then filter the intakes_outcomes DataFrame to keep only "Adoption"
intakes_outcomes_filtered = intakes_outcomes[intakes_outcomes['outcome_type'].str.contains('Adoption', case=False, na=False)]
# Finally group by outcome_type and count
outcome_counts = intakes_outcomes_filtered.groupby('outcome_type').size()
adopted_pets_count = intakes_outcomes_filtered.shape[0] 
# Calculate the ration (ratio = intake / adopted)
ratio = intakes_filtered.shape[0] / adopted_pets_count
print("Ratio of incoming pets vs adopted pets:", ratio)

Ratio of incoming pets vs adopted pets: 2.379472524855629

# Animal Distribution 3/3

## Meets Expectations
- The question:
    - [x] What is the distribution of the types of animals in the shelter?
    - [x] The count of each type of animal in the shelter is detailed
- [x] There is an explanation of how the answer was calculated

### Explanation

Question 1: The first thing I had to gather was the quantity for each *animal_type*. I decided on the `size()` method simply because it counts the repetition of each unique value within the *animal_type* column, and returns a Series. This seems to be more appropriate than `count()` because I only need a Series and not a whole new dataframe. 

Question 2: The next thing step that I took was to then take the type_of_animal_count Series, and divide by the `sum()` and multiply that by 100 in order to get the percentages of each *animal_type*. Only issue was this returned a 9 digit float, and I only wanted to return a common 2 digit float. To accomplish this, I used the `round(2)` method to round the number to the nearest hundreth place.

In [28]:
# Question 1

# The count for each animale_type
type_of_animal_count = intakes.groupby('animal_type').size()
print("Here is the count for each type of animal that is in the shelter:")
type_of_animal_count

Here is the count for each type of animal that is in the shelter:

animal_type
Bird           342
Cat          29659
Dog          45743
Livestock        9
Other         4434
dtype: int64

In [29]:
# Question 2

# Get the percentage breakdown for each animal type
animal_population_percentages = (type_of_animal_count / type_of_animal_count.sum()) * 100
print("Here is the breakdown of the distribution for each animal type:")
animal_population_percentages.round(2)

Here is the breakdown of the distribution for each animal type:

animal_type
Bird          0.43
Cat          36.99
Dog          57.05
Livestock     0.01
Other         5.53
dtype: float64

# Adoption Rates 10/10

## Meets Expectations
- The questions:
    - [x] What are the adoption rates for specific breeds
    - [X] What are the adoption rates for different colorings
    - [x] The top 5 colorings in the shelter (based on count) and the adoption percentage of each color
- [x] There is an explanation of how the answer was calculated for these questions

### Explanations
Question 1: First thing I had to do was merge the intakes and outcomes csv, so that I can query the both columns simultaneously. After the merged data is set in a variable, I set the total count of each `breed_intake` value to a variable for later. Next I had to filter down to only show the value of `Adoption` in the `outcome_type` column. I also used the `value_counts()` method to count the results. The last thing I had to do was to just divide the two results and multiply by 100 in order to get the percentages for the adoption rate for each specific breed. 

Question 2: For this question, I gathered the total count for each color and created a seperate dataframe with the results, which will assist with the ease of calculating the percentages later. Next I queried for the total count of `Adoptions` and then merged these results into the dataframe created. Now that I have both the total color count and the total adoptions count based on color I can calculate the percentage.  

Question 3: The answer here is basically the same as Question 2's answer. Only differnce is that I filtered the total color count to only display the top 5 color counts. Then I calculated the adoption counts based on the top 5 colors. Lastly I would then calculate the percentage of adoption based on the top 5 color counts.

In [33]:
# Question 1

# merge intakes and outcomes
merged_datasets = intakes.merge(outcomes, on='animal_id', suffixes=('_intake','_outcome'))

# Adoption rates for the specific breeds
intakes_count = merged_datasets['breed_intake'].value_counts()
total_adoptions_for_breeds = merged_datasets.loc[merged_datasets['outcome_type'] == 'Adoption', 'breed_intake'].value_counts()
adoption_percentages = (total_adoptions_for_breeds / intakes_count * 100).fillna(0).round(2)
adoption_percentages

breed_intake
Abyssinian Mix                                    75.00
Affenpinscher Mix                                 66.67
Afghan Hound Mix                                   0.00
Afghan Hound/Labrador Retriever                  100.00
African Mix                                        0.00
                                                  ...
Yorkshire Terrier/Shih Tzu                        66.67
Yorkshire Terrier/Soft Coated Wheaten Terrier    100.00
Yorkshire Terrier/Standard Poodle                  0.00
Yorkshire Terrier/Toy Poodle                       0.00
Yorkshire Terrier/Yorkshire Terrier              100.00
Name: count, Length: 2159, dtype: float64

In [34]:
# Question 2

# gilter the results for intake by color and create the results dataframe
total_colorways = merged_datasets['color_intake'].value_counts()
color_adoption_df = total_colorways.rename('total_intakes').reset_index()
color_adoption_df.columns = ['color', 'total_intakes']

# filter the results for adoption count per colorway and merge the results into the dataframe
adoption_counts = merged_datasets[merged_datasets['outcome_type'] == 'Adoption']['color_intake'].value_counts()
color_adoption_df = color_adoption_df.merge(adoption_counts.rename('total_adoptions'), left_on='color',right_index=True, how='left').fillna(0)

# calculate the adoption percentage
color_adoption_df['adoption_percentage'] = (color_adoption_df['total_adoptions'] / color_adoption_df['total_intakes'] * 100).fillna(0).round(2)
color_adoption_df

                   color  total_intakes  total_adoptions  adoption_percentage
0            Black/White          10814           4991.0                46.15
1                  Black           7842           3234.0                41.24
2            Brown Tabby           4840           2116.0                43.72
3                  Brown           4124           1047.0                25.39
4            Brown/White           3690           1579.0                42.79
..                   ...            ...              ...                  ...
524      Seal Point/Buff              1              0.0                 0.00
525    Cream/Brown Merle              1              0.0                 0.00
526   Tan/Yellow Brindle              1              0.0                 0.00
527           Black/Gold              1              0.0                 0.00
528  Red Merle/Red Merle              1              0.0                 0.00

[529 rows x 4 columns]

In [35]:
# Question 3

# Top 5 Colorways by count that is present
top_5_colorways = merged_datasets['color_intake'].value_counts(ascending=False).head(5)
top_5_colorways_df = top_5_colorways.reset_index()
top_5_colorways_df.columns = ['color', 'total_intakes']

# Get the adoption for the top 5 colors
adoption_counts = merged_datasets[merged_datasets['outcome_type'] == 'Adoption']['color_intake'].value_counts()
top_5_adoption_rates = top_5_colorways_df.merge(adoption_counts.rename('total_adoptions'), left_on='color', right_index=True,how='left').fillna(0)

# Calculate the adoption rate
top_5_adoption_rates['adoption_percentage'] = (top_5_adoption_rates['total_adoptions'] / top_5_adoption_rates['total_intakes'] * 100).fillna(0).round(2)
top_5_adoption_rates

         color  total_intakes  total_adoptions  adoption_percentage
0  Black/White          10814             4991                46.15
1        Black           7842             3234                41.24
2  Brown Tabby           4840             2116                43.72
3        Brown           4124             1047                25.39
4  Brown/White           3690             1579                42.79

## Exceeds Expectations
- The question:
    - [x] What are the adoption rates for the following age group:
        - [x] Baby: 4 Months and less
        - [x] Young: 5 Months - 2 years
        - [x] Adult: 3 Years - 10 years
        - [x] Senior: 11+
- [x] There is an explanation of how the answer was calculated for this questions

### Explanation

I'll break the explanation up into steps for easy reading:

Step 1: First thing I had to do is figure out how to get the value of the `age_upon_outcome` to reflect as months. In order to do this, I used the `split()` method and stored each value into its own variable (`age` and `unit`). Next step is to convert the age into months, with the calculation relying on the `age_str[1]` index value. This would convert the `age` with the accurate calculation based on the `unit` value. 

Step 2: Next I had to take the return value of months, and calculate which label it'd receive (`Baby`, `Young`, `Adult` or `Senior`). After that was done, I just applied that function to the `merged_datasets['age_upon_outcome_months']` in order to associate the months with the proper label. 

Step 3: Lastly, I did a simply (but reoccurring) merge of datasets. Then I ran the calculation for gettin the adoption rates for each label.

In [87]:
# Question 1

# Step 1: function to split the age into seperate indexes
def convert_to_months(age_str):
    if pd.isna(age_str):
        return None
    parts = age_str.split()

    # Handle if the parts series is less than 2 indexes
    if len(parts) < 2:
        return None

    # seperate the age from the unit for easier manipulation
    age = int(parts[0])
    unit = parts[1].lower()

    # simple if statement that returns the age in months based on the unit value (year/month/week)
    if 'year' in unit:
        return age * 12
    elif 'month' in unit:
        return age
    elif 'week' in unit:
        return age / 4
    else:
        return None

# conversion to months
merged_datasets['age_upon_outcome_months'] = merged_datasets['age_upon_outcome'].apply(convert_to_months)

# Step 2: function that'll return the desired label based on the age in months
def categorize_age(age):
    if pd.isna(age):
        return None
    elif age <= 4:
        return 'Baby'
    elif 5 <= age <= 24:
        return 'Young'
    elif 25 <= age <= 120:
        return 'Adult'
    else:
        return 'Senior'

# Apply the categories
merged_datasets['age_group'] = merged_datasets['age_upon_outcome_months'].apply(categorize_age)

# Step 3: count intakes and count adoptions per age group
total_intakes_by_age = merged_datasets['age_group'].value_counts()
adoptions_by_age = merged_datasets[merged_datasets['outcome_type'] == 'Adoption']['age_group'].value_counts()
 
# create a counts dataframe for easy manipulation
age_adoption_df = total_intakes_by_age.rename('total_intakes').reset_index()
age_adoption_df.columns = ['age_group', 'total_intakes']

# merge the count dataframe with the adoptions
age_adoption_df = age_adoption_df.merge(adoptions_by_age.rename('total_adoptions'), left_on='age_group', right_index=True, how='left').fillna(0)

# now just calculate the percentages
age_adoption_df['adoption_percentage'] = (age_adoption_df['total_adoptions'] / age_adoption_df['total_intakes'] * 100).round(2)
age_adoption_df

  age_group  total_intakes  total_adoptions  adoption_percentage
0     Young          45955            19936                43.38
1      Baby          25439            14091                55.39
2     Adult          25200             8692                34.49
3    Senior           2607              604                23.17

# Spay/Neuter 0/5

## Meets Expectations
- The questions:
    - [ ] About how many animals are spayed/neutered each month?
        - The calculation assumes that all intact males and females will be spayed/neutered
- [ ] There is an explanation of how the answer was calculated for this question

In [133]:
# Question 1

# Step 1: filter spayed/neuter outcomes
spayed_neutered = merged_datasets.loc[
    (merged_datasets['sex_upon_intake'].str.contains('Intact', na=False)) & 
    (merged_datasets['sex_upon_outcome'].str.contains('Spayed|Neutered', na=False))
].copy()

# Step 2: group the data by months (groupby)
spayed_neutered.loc[:, 'outcome_month'] = spayed_neutered['datetime_outcome'].str[5:7]

# Step 3: count the spay/neuter ops per month (size)
spay_neuter_per_month = spayed_neutered.groupby('outcome_month').size()

# Step 4: Calculate the average (mean)
avg_spay_neuter = spay_neuter_per_month.mean()
print("Spay/Neuter operations per month:")
print(spay_neuter_per_month)
print(f"\nAverage spay/neuter operations per month: {avg_spay_neuter:.2f}")

Spay/Neuter operations per month:
outcome_month
01    2967
02    2632
03    2754
04    2048
05    2612
06    2978
07    3557
08    3017
09    2733
10    2918
11    3179
12    3400
dtype: int64

Average spay/neuter operations per month: 2899.58

## Exceeds Expectations
- The question:
    - [ ] If spay/neuter for a dog costs `$100` and a spay/neuter for a cat costs `$50`, how much did the shelter spend in 2015 on these procedures?
- [ ] There is an explanation of how the answer was calculated for these questions